
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}


    <div class="page-banner bg-img bg-img-parallax overlay-dark">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","TrangChu")">Trang Chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section id="blog" style="margin-bottom:15px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row wrap-news-detail">
                        <h1 class="news-detail-title">Tổng quan UEF</h1>
                        <h6>12/11/2020</h6>

                        <div class="blog-post-body clearfix">
                            <p style="text-align: justify;">
                                <span style="font-family:verdana;">
                                    <span style="font-size:13px;">
                                        <span style="color:#B22222"><strong>Trường Đại học Kinh tế - Tài chính thành phố Hồ Chí Minh</strong></span><span style="color:#000000"> (<em>Ho Chi Minh City University of Economics and Finance</em><strong> -</strong> UEF) thành lập ngày 24 tháng 9 năm 2007 theo quyết định số 1272/QĐ-TTg của Thủ tướng chính phủ. UEF theo đuổi mục tiêu là đại học hàng đầu Việt Nam và hướng tới chuẩn mực đào tạo quốc tế gắn liền triết lý Chất lượng - Hiệu quả - Hội nhập.</span><br>
                                        <br>
                                        <span style="color: rgb(0, 0, 0); line-height: 1.6em;">Với mục tiêu nhất quán, UEF hướng tới tiêu chuẩn giáo dục đại học kết hợp tinh hoa giáo dục đại học quốc tế cùng chuyển biến kinh tế trong bối cảnh hội nhập, đào tạo chuyên sâu về Kinh tế Tài chính đáp ứng nhu cầu chất lượng nguồn nhân lực ngày càng cao của xã hội.</span>
                                    </span>
                                </span>
                            </p>

                            <p style="text-align: justify;">&nbsp;</p>

                            <p style="text-align: center;"><img alt="" class="img-responsive" src="~/Content/img/intro/intro1.jpg" style="width: 800px; height: 533px;  display: inline-block; "></p>

                            <p style="text-align: center;">
                                <span style="color:#000000">
                                    <span style="font-size:14px">
                                        <span style="font-family:arial,helvetica,sans-serif">
                                            <span style="font-family:verdana;">
                                                <span style="font-size:13px;">
                                                    <em>
                                                        <img alt="" class="img-responsive" style="width: 789px; height: 919px; display: inline-block;" src="~/Content/img/intro/intro2.jpg"><br>
                                                        Môi trường học tập tiện nghi, hiện đại
                                                    </em>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span><br>
                                &nbsp;
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-family:verdana;"><span style="font-size:13px;"><span style="color:#000000">Đảm bảo yếu tố đầu ra chất lượng đòi hỏi đội ngũ giảng viên của UEF phải được chọn lọc theo các chuẩn mực: tâm huyết, giỏi chuyên môn, giàu kinh nghiệm thực tế, nhuần nhuyễn trong phương pháp, thân thiện và gần gũi với sinh viên. Môi trường làm việc năng động và mang đậm tính nhân văn tại UEF là động lực quan trọng để các thầy cô tận tâm dìu dắt sinh viên trưởng thành và phát triển.</span></span></span><br>
                                <br>
                                <span style="font-family:verdana;"><span style="font-size:13px;"><span style="color:#000000">Trụ sở 141 - 145&nbsp;Điện Biên Phủ, Phường 15, Quận Bình Thạnh, Tp.HCM của UEF tọa lạc tại khu vực trung tâm thành phố với hệ thống học tập và tiện nghi hiện đại, chuẩn quốc tế. Ngoài ra, UEF đang triển khai dự án tại Khu Nam Sài Gòn có diện tích 5,5 ha với chiến lược xây dựng thành khu học xá phức hợp hiện đại bậc nhất tại Tp.HCM vào năm 2020. Đây chính là bước phát triển tiếp theo của nhà trường trong giai đoạn mới.</span></span></span>
                            </p>

                            <p style="text-align: justify;">
                                <br>
                                &nbsp;
                            </p>
                            <p style="text-align: center;">
                                <span style="color:#000000">
                                    <span style="font-size:14px">
                                        <span style="font-family:arial,helvetica,sans-serif">
                                            <img alt="" class="img-responsive" style="width: 800px; height: 454px; display: inline-block;" src="~/Content/img/intro/intro3.jpg"><br>
                                            <span style="font-family:verdana;"><span style="font-size:13px;"><em>Cam kết cung cấp cho xã hội nguồn nhân lực ưu việt&nbsp;là mục tiêu hàng đầu</em></span></span>
                                        </span>
                                    </span>
                                </span><br>
                                &nbsp;
                            </p>
                            <p style="text-align: justify;"><span style="font-family:verdana;"><span style="font-size:13px;"><span style="color:#000000">Xác định hướng đi mang tầm chiến lược kết hợp cùng thành quả UEF đạt được trong 13&nbsp;năm qua, phần nào đã đưa thương hiệu đào tạo của nhà trường đứng vững trong phân khúc đào tạo nhân lực cao cấp tại Việt Nam, mang đến sự tin tưởng tuyệt đối trong lòng thí sinh và phụ huynh cả nước.</span></span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>