
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Request.IsAuthenticated)
{
<div class="content-wrapper">
    <div class="content-header">
    </div>
    <div>
        <div style="margin:auto; text-align:center">
            <h3>Chào mừng bạn đã đến với Câu lạc bộ của trường Đại học UEF</h3>
            <img src="~/Areas/Admin/Resource/HinhAnh/hero-img.png">
        </div>
    </div>
</div>
    }
