
@{
    ViewBag.Title = "Xét duyệt Thành viên";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";
}

<div class="header-advance-area-style" style="margin-top:3%">
    <div class="breadcome-area">
        <div class="container-fluids">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list single-page-breadcome">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="breadcome-menu">
                                    <li>
                                        <a href="#">Trang chủ</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li>
                                        <span class="bread-blod">Xét duyệt thành viên</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="data-map-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Xét duyệt thành viên</h3>
            </div>
            @foreach (var item in ViewBag.DsCLB)
            {
                <a href="@Url.Action("QLXetDuyetTV", new { id = item.IDCLB })">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom:2%">
                        <div class="sparkline8-list responsive-mg-b-30">
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd">
                                    <h1>@item.TenCLB</h1>
                                </div>
                            </div>
                            <div class="sparkline8-graph ">
                                <img class="img-size-style" src="@item.HinhCLB" />
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

