
@{
    ViewBag.Title = "ConfirmButton";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";
}

<section class="content-header" style="background-color:cornflowerblue">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>TÀI KHOẢN</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li style="color:black" class="breadcrumb-item">Trang Chủ</li>
                    <li style="color:black" class="breadcrumb-item active">Tài khoản người dùng</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <h5 style="margin:10px 10px 10px 4px">Xác thực Email</h5>
    <div class="alert alert-success">
        <p>Đã gửi email xác nhận đến hòm thư của bạn. Vui lòng kiểm tra và xác thực để hoàn thành!</p>
    </div>
</div>
